namespace ConsoleApp12
{
    internal class Program
    {
        static void Main(string[] args)
        {
            string[] fullNameArray = { "Ayxan Muradov", "Senan Quliyev", "Leyla Quliyeva" };

            string[] namesArray = ExtractNames(fullNameArray);

            Console.WriteLine("Extracted Names:");
            foreach (string name in namesArray)
            {
                Console.WriteLine(name);
            }
        }
        static string[] ExtractNames(string[] fullNameArray)
        {
            string[] namesArray = new string[fullNameArray.Length];

            for (int i = 0; i < fullNameArray.Length; i++)
            {
                // Boşlugu tap
                int spaceIndex = fullNameArray[i].IndexOf(' ');

                // Boşluktan evvelki hisseni gotur (ad)
                if (spaceIndex != -1)
                {
                    namesArray[i] = fullNameArray[i].Substring(0, spaceIndex);
                }
                else
                {
                    // boşluk yoxdursa tam adı al
                    namesArray[i] = fullNameArray[i];
                }
            }

            return namesArray;
        }


    }
}
